@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.navShadow {
    position: sticky;
    z-index: 999;
    top: -10px;
    box-shadow: 0 -6px 10px 5px rgba(189, 87, 3, 0.1);
    width: 100%;
}

footer {
    box-shadow: 0px 2px 15px rgba(189, 87, 3, 0.1);;
}

section {    
    max-width: 100%;
    min-height: 100vh; 
}

.homeImg {
    box-shadow: 2px 2px 2px rgba(232, 229, 228, 0.1);
}

.rotate90:hover {
	animation: rotate90 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes rotate90 {
    0% {
      transform: rotate(0);
    }
    100% {
        transform: rotate(90deg);
    }
  }
